{"openapi":"3.0.1","info":{"title":"pp-pec-service","description":"Microservice that exposes PEC service management ws<br>Before any request, it is necessary to obtain a token using the ws: <a href='https://publicapi-areaclienti.arubapec.it/service/public/swagger-ui/index.html?urls.primaryName=05-auth%20(v2)#/AuthController/token'>/auth/v2/token</a>","version":"v2/v3"},"servers":[{"url":"https://publicapi-areaclienti.arubapec.it/service","description":"Generated server url"}],"tags":[{"name":"PartnerPecAccountApi","description":"APIs used to manage PEC and additional services; To access the services, you must be a Partner with access to WS calls and the \"Accesso API PEC\" permission."}],"paths":{"/public/partner/pec/v3/accounts":{"post":{"tags":["PartnerPecAccountApi"],"summary":"Creates a new account","description":"Used to create a new account. <br>It's possible to fetch ID owner by inserting data like TaxCode and VatNumber<br>If the search about owner id answers with multiple ID, the method will respond with an error and it will not be possible to proceed with activation<br>Below some useful information:<ul><li>Account's domain must be active and belonging to partner's owner or it must be a public domain </li><li>Account's fullname must be unique </li><li>Activation Account will not be succesful if owner has label \"Da bonificare\" </li><li>Activation Account will not be succesful if owner is under eighteen years old </li><li>In the request pass inboxExtra, archiveExtra, userPackageExtra , consExtra, intApp or pecMas values to add extras to the account <li>If inboxExtra, archiveExtra, userPackageExtra, consExtra, intApp or pecMas activation is not succesful, the error field will be valued, even if the activation account has been done.</li></ul>","operationId":"accountCreate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountCreateRequest"}}},"required":true},"responses":{"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountInfoResponse"}}}}}}},"/public/partner/pec/v3/accounts/suspend":{"post":{"tags":["PartnerPecAccountApi"],"summary":"Suspension account","description":"Suspends the account, parameter name is the account full name; a suspended account will be accessible only for reading.","operationId":"accountSuspend","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountSuspendRequestV3"}}},"required":true},"responses":{"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountInfoResponse"}}}}}}},"/public/partner/pec/v3/accounts/suspend-undo":{"post":{"tags":["PartnerPecAccountApi"],"summary":"Undo suspension account","description":"Undo suspension account","operationId":"accountSuspendUndo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountSuspendUndoRequestV3"}}},"required":true},"responses":{"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountInfoResponse"}}}}}}},"/public/partner/pec/v3/accounts/search":{"post":{"tags":["PartnerPecAccountApi"],"summary":"Search for accounts","description":"Search for accounts","operationId":"accountList","parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","content":{"*/*":{"schema":{"type":"integer","default":"0"}}}},{"name":"size","in":"query","description":"Number of records per page.","content":{"*/*":{"schema":{"type":"integer","default":"50"}}}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountSearchRequest"}}},"required":true},"responses":{"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountSearchResponse"}}}}}}},"/public/partner/pec/v3/accounts/renew":{"post":{"tags":["PartnerPecAccountApi"],"summary":"Account renewal","description":"Renews account, parameter name is the account full name","operationId":"accountRenew","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountRenewRequestV3"}}},"required":true},"responses":{"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountInfoResponse"}}}}}}},"/public/partner/pec/v3/accounts/info":{"post":{"tags":["PartnerPecAccountApi"],"summary":"Account details","description":"Returns account details only for accounts with status \"Certificato\" or \"Richiesta Disdetta\" or \"Richiesta Disdetta Sospesa\" or \"Da Certificare\".<br>Parameter name is the account full name<br>The list of the additional services is valued only if parameter loadExtraData=true","operationId":"accountInfo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountInfoRequestV3"}}},"required":true},"responses":{"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountInfoResponse"}}}}}}},"/public/partner/pec/v3/accounts/extraSize":{"post":{"tags":["PartnerPecAccountApi"],"summary":"Changes Extra Inbox/Extra archive/User Package Extra/Extra Preservation  account","description":"Changes Extra Inbox/Extra archive account/User Package Extra/Extra Preservation , parameter name is the account full name","operationId":"accountChangeExtraSize","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountChangeExtraSizeRequestV3"}}},"required":true},"responses":{"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountInfoResponse"}}}}}}},"/public/partner/pec/v3/accounts/changeType":{"post":{"tags":["PartnerPecAccountApi"],"summary":"Change account typology","description":"Changes account typology, parameter name is the account full name","operationId":"accountChangeType","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountChangeTypeRequestV3"}}},"required":true},"responses":{"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountInfoResponse"}}}}}}},"/public/partner/pec/v3/accounts/changeRenewalType":{"post":{"tags":["PartnerPecAccountApi"],"summary":"Change renewal type account","description":"Change renewal type account to the account renewal, parameter name is the account full name","operationId":"accountChangeRenewalType","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountChangeRenewalTypeRequestV3"}}},"required":true},"responses":{"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountInfoResponse"}}}}}}},"/public/partner/pec/v3/accounts/cancellation":{"post":{"tags":["PartnerPecAccountApi"],"summary":"Cancellation Request","description":"Account Cancellation Request, parameter name is the account full name","operationId":"accountCancellation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountCancellationRequestV3"}}},"required":true},"responses":{"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountInfoResponse"}}}}}}},"/public/partner/pec/v3/accounts/cancellation-undo":{"post":{"tags":["PartnerPecAccountApi"],"summary":"Undo cancellation request","description":"Undo account cancellation request","operationId":"accountCancellationUndo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountCancellationUndoRequestV3"}}},"required":true},"responses":{"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountInfoResponse"}}}}}}},"/public/partner/pec/v3/accounts/accountAvailable":{"post":{"tags":["PartnerPecAccountApi"],"summary":"Account available","description":"Checks if an account exists and if it is assignable to a specified Owner","operationId":"accountAvailable","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountAvailableRequest"}}},"required":true},"responses":{"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountAvailableResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}}}}},"/public/partner/pec/v3/accounts/types":{"get":{"tags":["PartnerPecAccountApi"],"summary":"Returns the list of partner account types","description":"Returns the list of partner account types","operationId":"accountTypes","responses":{"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountTypesResponse"}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}}}}}},"components":{"schemas":{"AccountCreateRequest":{"required":["name","ownerId","renewalData","type"],"type":"object","properties":{"name":{"type":"string","description":"Full name of the account, composed by account name and domain name","example":"pec@pec.aruba.it"},"type":{"type":"string","description":"Account typology","example":"EMAIL"},"ownerId":{"$ref":"#/components/schemas/OwnerId"},"inboxExtra":{"minimum":1,"type":"integer","description":"Defines the extra inbox in GB to assign to the account, immediately after activation","format":"int32","example":2},"archiveExtra":{"minimum":1,"type":"integer","description":"Defines the extra archive in GB to assign to the account, immediately after activation","format":"int32","example":3},"userPackageExtra":{"minimum":1,"type":"integer","description":"Extra User Packages","format":"int32","example":3},"consExtra":{"minimum":1,"type":"integer","description":"Defines the extra preservation in GB to assign to the account, immediately after activation","format":"int32","example":3},"intApp":{"type":"string","description":"Defines the Application Integration service to assign to the account, immediately after activation","example":"PEC_INT_APP_PRO","enum":["PEC_INT_APP_API","PEC_INT_APP_PRO"]},"pecMas":{"type":"string","description":"Defines the Massive Pec service to assign to the account, immediately after activation","example":"PEC_MAS_SMALL","enum":["PEC_MAS_SMALL","PEC_MAS_MEDIUM","PEC_MAS_LARGE","PEC_MAS_EXTRA"]},"renewalData":{"$ref":"#/components/schemas/RenewalData"},"contractData":{"$ref":"#/components/schemas/ContractData"}},"description":"Creation account"},"ContractData":{"type":"object","properties":{"sdiCode":{"type":"string","description":"sdicode, mandatory if the value is valued in partner registry","example":"XX2AD"},"cigOda":{"type":"string","description":"cig/oda code","example":"XX2AD"}},"description":""},"OwnerId":{"type":"object","properties":{"id":{"type":"integer","description":"Owner ID","format":"int64","example":18329387},"taxCode":{"maxLength":32,"minLength":1,"type":"string","description":"owner tax code, if country = 260 it must be a valid italian code, it's used that value to fetch owner only if usertype = DITTA_INDIVIDUALE, LIBERO_PROFESSIONISTA, PRIVATO","example":"AAABBB00A00A000A"},"businessTaxCode":{"maxLength":32,"minLength":1,"type":"string","description":"Business tax code, if country = 260 it must be a valid italian code, it's used that value to fetch owner only if usertype = AZIENDA, PUBBLICA_AMMINISTRAZIONE, NO_PROFIT","example":"01573850516"},"vatNumber":{"maxLength":25,"minLength":1,"type":"string","description":"Vat number, mandatory if parameter userType =  AZIENDA, DITTA_INDIVIDUALE, LIBERO_PROFESSIONISTA, if country= 260 vat number must be valid","example":"01573850516"}},"description":"Owner's identification data"},"RenewalData":{"required":["duration","type"],"type":"object","properties":{"type":{"type":"string","description":"Renewal type, use value T for automatic renewal, use value S for renewal on expiration","example":"T","enum":["T,S"]},"duration":{"maximum":5,"minimum":1,"type":"integer","description":"Duration, if the value is greater than 5, the default value is 1","format":"int64","example":1}},"description":"Information about services renewal"},"RestError":{"type":"object","properties":{"code":{"type":"string","description":"Error code","example":"001"},"validationError":{"$ref":"#/components/schemas/ValidationError"},"description":{"type":"string"}},"description":"Error list, specified only with error response"},"RestErrorResponse":{"required":["version"],"type":"object","properties":{"data":{"type":"string","description":"Response data, it could be empty in case of errors"},"datetime":{"type":"string","description":"Response datetime","format":"date-time","example":"2023-09-19T09:35:10.415+02:00"},"version":{"type":"string","description":"Response version","example":"v2"},"errors":{"type":"array","description":"Error list, specified only with error response","items":{"$ref":"#/components/schemas/RestError"}}}},"ValidationError":{"type":"object","properties":{"objectName":{"type":"string"},"field":{"type":"string"},"code":{"type":"string"},"rejectedValue":{"type":"object"},"defaultMessage":{"type":"string"}},"description":"Validation error details","example":"Validation error details"},"Account":{"required":["certificationDate","endDate","name","owner","quotas","renewalData","requestDate","status","type"],"type":"object","properties":{"name":{"type":"string","description":"Account full name, composed by account name and domain name","example":"pec@pec.aruba.it"},"type":{"type":"string","description":"Account typology","example":"EMAIL"},"status":{"type":"string","description":"Account Status","example":"CERTIFICATO"},"quotas":{"type":"array","description":"Details about account","items":{"$ref":"#/components/schemas/InfoQuota"}},"owner":{"$ref":"#/components/schemas/Owner"},"requestDate":{"type":"string","description":"Request date","format":"date-time","example":"2023-09-07T12:09:36.475+02:00"},"certificationDate":{"type":"string","description":"Creation Date","format":"date-time"},"cancellationDate":{"type":"string","description":"Cancellation Date","format":"date-time"},"suspensionDate":{"type":"string","description":"Suspension date","format":"date-time"},"endDate":{"type":"string","description":"End date","format":"date-time"},"renewalData":{"$ref":"#/components/schemas/RenewalData"},"contractData":{"$ref":"#/components/schemas/ContractData"},"additionalServices":{"type":"array","description":"Additional services account list; the list of the additional services is valued only if parameter loadExtraData=true; this parameter is set in accounts/info api","items":{"$ref":"#/components/schemas/AdditionalService"}}},"description":"Account pec detail"},"AccountInfoResponse":{"required":["version"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/Account"},"version":{"type":"string","description":"Response version","example":"v2"},"errors":{"type":"array","description":"Error list, specified only with error response","items":{"$ref":"#/components/schemas/RestError"}}}},"AdditionalService":{"required":["id","renewalData","status","type"],"type":"object","properties":{"id":{"type":"integer","description":"Additional service ID","format":"int64"},"type":{"type":"string","description":"Identifies the additional service to buy, possible values: NEWSLETTER","example":"SOME_SERVICE","enum":["NEWSLETTER","MULTIUTENZA","CONSERVAZIONE","EXTRA_INBOX","EXTRA_ARCHIVIO","EXTRA_USERS","UPGRADE_COS","PEC_INT_APP","PEC_MAS","DOM_INT_APP_CAN"]},"status":{"type":"string","description":"Additional Service status","example":"ATTIVO"},"value":{"type":"string","description":"Value assigned to the additional service","example":"3"},"requestDate":{"type":"string","description":"Request date","format":"date-time"},"activationDate":{"type":"string","description":"Activation date","format":"date-time","example":"2023-09-07T12:09:36.475+02:00"},"cancellationDate":{"type":"string","description":"Cancellation date","format":"date-time","example":"2023-09-07T12:09:36.475+02:00"},"endDate":{"type":"string","description":"End date","format":"date-time"},"renewalData":{"$ref":"#/components/schemas/RenewalData"},"contractData":{"$ref":"#/components/schemas/ContractData"}},"description":"Account's Additional Service"},"CompanyContactData":{"required":["address","district","email","telephoneNumber","town","zipCode"],"type":"object","properties":{"address":{"maxLength":255,"minLength":1,"type":"string","description":"Address","example":"via aruba, 13"},"town":{"maxLength":255,"minLength":1,"type":"string","description":"Town","example":"Arezzo"},"zipCode":{"maxLength":50,"minLength":1,"type":"string","description":"owner postal code, if country = 260 postal code must be a valid italian postal code","example":"52100"},"district":{"maxLength":255,"minLength":1,"type":"string","description":"owner town code, if country= 260 postal code must be a valid italian town code","example":"AR"},"country":{"type":"integer","description":"Country, if empty the default is 260 Italy","format":"int64","example":260},"email":{"maxLength":80,"minLength":5,"type":"string","description":"owner email","example":"info@aruba.it"},"telephoneNumber":{"maxLength":50,"minLength":1,"type":"string","description":"telephone number, composed by international prefix and number separated by .","example":"+39.000000000,+1.000000000"}},"description":"Owner's company contact data"},"ContactData":{"required":["address","district","email","telephoneNumber","town","zipCode"],"type":"object","properties":{"address":{"maxLength":255,"minLength":1,"type":"string","description":"Address","example":"via aruba, 13"},"town":{"maxLength":255,"minLength":1,"type":"string","description":"Town","example":"Arezzo"},"zipCode":{"maxLength":50,"minLength":1,"type":"string","description":"owner postal code, if country = 260 postal code must be a valid italian postal code","example":"52100"},"district":{"maxLength":255,"minLength":1,"type":"string","description":"owner town code, if country= 260 postal code must be a valid italian town code","example":"AR"},"country":{"type":"integer","description":"Country, if empty the default is 260 Italy","format":"int64","example":260},"email":{"maxLength":80,"minLength":5,"type":"string","description":"owner email","example":"info@aruba.it"},"telephoneNumber":{"maxLength":50,"minLength":1,"type":"string","description":"telephone number, composed by international prefix and number separated by .","example":"+39.000000000,+1.000000000"},"mobile":{"maxLength":50,"minLength":1,"type":"string","description":"Owner mobile","example":"3334445556"}},"description":"Owner's contact data"},"InfoQuota":{"required":["base","type"],"type":"object","properties":{"type":{"type":"string","description":"Identifies account quota, possible values are inbox or archive","example":"INBOX","enum":["INBOX","ARCHIVIO","CONSERVAZIONE","EXTRA_USERS"]},"base":{"type":"integer","description":"Default inbox in GB associated to account typology","format":"int32","example":2},"extra":{"type":"integer","description":"Extra inbox in GB purchased","format":"int32","example":3},"massive":{"type":"integer","description":"Extra inbox in GB from Massive Pec","format":"int32","example":15},"used":{"type":"integer","description":"Identifies quota used in GB, value not empty only if loadExtraData=true","format":"int64","example":3},"available":{"type":"integer","description":"Total quantity available: populated only with loadExtraData=true","format":"int64","example":47},"description":{"type":"string","description":"Human readable"}},"description":"Information about account quota"},"Owner":{"required":["name","surname","taxCode","userType"],"type":"object","properties":{"userType":{"type":"string","description":"Owner legal status, possible values are AZIENDA, DITTA_INDIVIDUALE, PUBBLICA_AMMINISTRAZIONE, NO_PROFIT, LIBERO_PROFESSIONISTA, PRIVATO","example":"PRIVATO","enum":["AZIENDA,PRIVATO,LIBERO_PROFESSIONISTA,DITTA_INDIVIDUALE,NO_PROFIT,PUBBLICA_AMMINISTRAZIONE"]},"name":{"maxLength":80,"minLength":1,"type":"string","description":"owner name, if country = 260 it must be coherent with owner tax code","example":"Mario"},"surname":{"maxLength":80,"minLength":1,"type":"string","description":"owner surname, if country= 260 it must be coherent with owner tax code","example":"Rossi"},"taxCode":{"maxLength":32,"minLength":1,"type":"string","description":"owner tax code, if country= 260 it must be coherent with owner name and surname","example":"AAABBB00A00A000A"},"vatNumber":{"maxLength":25,"minLength":1,"type":"string","description":"Vat number, mandatory if parameter userType = AZIENDA, DITTA_INDIVIDUALE, LIBERO_PROFESSIONISTA. if country= 260 vat number must be valid","example":"01573850516"},"businessTaxCode":{"maxLength":32,"minLength":1,"type":"string","description":"Business tax code","example":"01573850516"},"businessName":{"maxLength":255,"minLength":1,"type":"string","description":"BusinessName, mandatory if parameter userType = AZIENDA, DITTA_INDIVIDUALE, PUBBLICA_AMMINISTRAZIONE, NO_PROFIT","example":"Aruba S.p.a."},"contacts":{"$ref":"#/components/schemas/ContactData"},"companyContacts":{"$ref":"#/components/schemas/CompanyContactData"},"id":{"type":"integer","description":"Owner ID","format":"int64","example":18329387}},"description":"Information about account's owner"},"AccountSuspendRequestV3":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"Full email address","example":"email@domain.ext"}}},"AccountSuspendUndoRequestV3":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"Full email address","example":"email@domain.ext"}},"description":"Account Suspend Undo Request"},"AccountSearchRequest":{"type":"object","properties":{"owner":{"$ref":"#/components/schemas/OwnerSearchRequest"},"activationDate":{"$ref":"#/components/schemas/Interval"},"endDate":{"$ref":"#/components/schemas/Interval"},"type":{"type":"string","description":"Account typology","example":"EMAIL"},"status":{"type":"string","description":"Account Status","example":"CERTIFICATO"}},"description":"Search Account pec"},"Interval":{"type":"object","properties":{"from":{"type":"string","description":"Start search interval; value is INCLUDED in the search interval (greater than or equal to 00:00:00)","format":"date-time"},"to":{"type":"string","description":"End of search interval; the value is INCLUDED in the search interval (less than or equal to 23:59:59)","format":"date-time"}},"description":"Search Date interval"},"OwnerSearchRequest":{"type":"object","properties":{"id":{"type":"integer","description":"Owner ID","format":"int64","example":18329387},"taxCode":{"maxLength":32,"minLength":1,"type":"string","description":"owner tax code, if country = 260 it must be a valid italian code, it's used that value to fetch owner only if usertype = DITTA_INDIVIDUALE, LIBERO_PROFESSIONISTA, PRIVATO","example":"AAABBB00A00A000A"},"businessTaxCode":{"maxLength":32,"minLength":1,"type":"string","description":"Business tax code, if country = 260 it must be a valid italian code, it's used that value to fetch owner only if usertype = AZIENDA, PUBBLICA_AMMINISTRAZIONE, NO_PROFIT","example":"01573850516"},"vatNumber":{"maxLength":25,"minLength":1,"type":"string","description":"Vat number, mandatory if parameter userType =  AZIENDA, DITTA_INDIVIDUALE, LIBERO_PROFESSIONISTA, if country= 260 vat number must be valid","example":"01573850516"},"surname":{"maxLength":80,"minLength":1,"type":"string","description":"Surname of the owner or legal representative","example":"Rossi"},"name":{"maxLength":80,"minLength":1,"type":"string","description":"Name of the owner or legal representative","example":"Rossi"},"businessName":{"maxLength":255,"minLength":1,"type":"string","description":"Business name of the entity: not 'PRIVATO'","example":"ArubaS.p.a."},"toCorrectOnly":{"type":"boolean","description":"if the field is true returns only owners with label \"Da bonificare\", otherwise all owner will be get back","example":true}},"description":"Search Owner pec"},"AccountSearchResponse":{"required":["version"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/PageAccount"},"version":{"type":"string","description":"Response version","example":"v2"},"errors":{"type":"array","description":"Error list, specified only with error response","items":{"$ref":"#/components/schemas/RestError"}}}},"PageAccount":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/Account"}},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}},"description":"Response data, it could be empty in case of errors"},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"unpaged":{"type":"boolean"},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"}}},"SortObject":{"type":"object","properties":{"direction":{"type":"string"},"nullHandling":{"type":"string"},"ascending":{"type":"boolean"},"property":{"type":"string"},"ignoreCase":{"type":"boolean"}}},"AccountRenewRequestV3":{"required":["name","renewalData"],"type":"object","properties":{"name":{"type":"string","description":"Full email address","example":"email@domain.ext"},"type":{"type":"string","description":"Identifies new account typology, if the parameter is empty, upon renewal typology's account doesn't change","example":"EMAIL"},"inboxExtra":{"minimum":0,"type":"integer","description":"Identifies the value in GB to assign to extra inbox upon renewal; if the parameter is empty extra inbox doesn't change; use the value 0 to cancel extra inbox","format":"int32","example":2},"archiveExtra":{"minimum":0,"type":"integer","description":"Identifies the value in GB to assign to extra archive upon renewal; if the parameter is empty extra archive doesn't change; use the value 0 to cancel extra archive","format":"int32","example":3},"userPackageExtra":{"minimum":0,"type":"integer","description":"Extra User Packages: If not set, it will not be changed. Zero equals cancellation.","format":"int32","example":3},"consExtra":{"minimum":0,"type":"integer","description":"Extra Preservation in Gb: If not set, it will not be changed. Zero equals cancellation.","format":"int32","example":3},"intApp":{"type":"string","description":"Identifies the Application Intergration service to assign upon renewal; if the parameter is empty Application Integration doesn't change; use the value DISDETTA to cancel this service","example":"PEC_INT_APP_PRO","enum":["PEC_INT_APP_API","PEC_INT_APP_PRO","0"]},"pecMas":{"type":"string","description":"${AccountRenewRequest.pecMas}","example":"PEC_MAS_SMALL","enum":["PEC_MAS_SMALL","PEC_MAS_MEDIUM","PEC_MAS_LARGE","PEC_MAS_EXTRA","0"]},"renewalData":{"$ref":"#/components/schemas/RenewalData"},"contractData":{"$ref":"#/components/schemas/ContractData"}},"description":"Renews account"},"AccountInfoRequestV3":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"Full email address","example":"email@domain.ext"},"loadExtraData":{"type":"boolean","description":"Load account's extra data","example":true}}},"AccountChangeExtraSizeRequestV3":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"Full email address","example":"email@domain.ext"},"inboxExtra":{"minimum":0,"type":"integer","description":"Identifies the value in GB to assign to extra inbox; mandatory if parameter archiveExtra is empty; this method is used to set extra archive and/or extra inbox, one of the two must be valorised","format":"int32","example":2},"archiveExtra":{"minimum":0,"type":"integer","description":"Identifies the value in GB to assign to extra archive; mandatory if parameter inboxExtra is empty; this method is used to set extra archive and/or extra inbox, one of the two must be valorised","format":"int32","example":3},"userPackageExtra":{"minimum":0,"type":"integer","description":"New ExtraUser Account Value: mandatory if the other parameters are not set","format":"int32","example":3},"consExtra":{"minimum":0,"type":"integer","description":"Identifies the value in GB to assign to extra preservation; mandatory if other parameters are empty; this method is used to set extra archive and/or extra inbox, one of the two must be valorised","format":"int32","example":3},"intApp":{"type":"string","description":"Nuovo Valore Servizio Integrazione applicativa: obbligatorio se non impostati gli altri parametri","example":"PEC_INT_APP_PRO","enum":["PEC_INT_APP_API","PEC_INT_APP_PRO","0"]},"pecMas":{"type":"string","description":"Nuovo Valore Servizio Pec Massiva casella: obbligatorio se non impostati gli altri parametri","example":"PEC_MAS_SMALL","enum":["PEC_MAS_SMALL","PEC_MAS_MEDIUM","PEC_MAS_LARGE","PEC_MAS_EXTRA","0"]},"applyImmediately":{"type":"string","description":"It means when the change occurs: use value S if the change must be done immediately, use value N if the change will be made upon the renewal; <br>default value is N and this will change both inboxExtra and archiveExtra","example":"S","enum":["S,N"]},"contractData":{"$ref":"#/components/schemas/ContractData"}},"description":"Changes Extra Inbox/Extra archive account"},"AccountChangeTypeRequestV3":{"required":["name","type"],"type":"object","properties":{"name":{"type":"string","description":"Full email address","example":"email@domain.ext"},"type":{"type":"string","description":"Identifies the new account typology","example":"EMAIL_PREMIUM"},"contractData":{"$ref":"#/components/schemas/ContractData"}},"description":"Change account typology"},"AccountChangeRenewalTypeRequestV3":{"required":["name","type"],"type":"object","properties":{"name":{"type":"string","description":"Full email address","example":"email@domain.ext"},"type":{"type":"string","description":" tacito, S: Scadenza","example":"T","enum":["T,S"]}},"description":"Change renewal type account"},"AccountCancellationRequestV3":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"Full email address","example":"email@domain.ext"},"type":{"type":"string","description":"Cancellation Type: use value S to cancel the account at the end date, use value I to cancel immediately the account, use value D to cancel the account at the date specified in CancellationDate parameter. Default value is S","example":"S","enum":["S,I,D"]},"cancellationDate":{"type":"string","description":"Cancellation date, this is the date when the account will be cancelled, mandatory only if parameter type=D","format":"date-time"}},"description":"Account Cancellation Request"},"AccountCancellationUndoRequestV3":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"Full email address","example":"email@domain.ext"}},"description":"${AccountCancellationUndoRequest.model:Account Cancellation Undo Request"},"AccountAvailableRequest":{"required":["domain","name"],"type":"object","properties":{"name":{"type":"string","description":"Account name","example":"casella.prova"},"domain":{"type":"string","description":"Full domain name","example":"pec.aruba.it"},"taxCode":{"maxLength":32,"minLength":1,"type":"string","description":"Owner's Tax Code","example":"AAABBB10C20D333E"},"vatNumber":{"maxLength":25,"minLength":1,"type":"string","description":"Owner's Vat number (in case of owner's type == Azienda or Libero Professionista)","example":"12345678901"}},"description":"AccountAvailableRequest.model:Account available"},"AccountAvailable":{"type":"object","properties":{"accountExists":{"type":"boolean","description":"existence of the account","example":true},"isAccountAssignable":{"type":"boolean","description":"account's assignability","example":true}},"description":"Information about account availability"},"AccountAvailableResponse":{"required":["version"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/AccountAvailable"},"version":{"type":"string","description":"Response version","example":"v2"},"errors":{"type":"array","description":"Error list, specified only with error response","items":{"$ref":"#/components/schemas/RestError"}}}},"AccountType":{"required":["description","inboxBase","type"],"type":"object","properties":{"type":{"type":"string","description":"Account type","example":"EMAIL"},"description":{"type":"string","description":"Short description","example":"Standard"},"inboxBase":{"type":"integer","description":"Default inbox in GB associated to account type","format":"int32","example":2},"inboxMaxExtra":{"type":"integer","description":"Maximum extra inbox in GB associated to account type","format":"int32","example":3},"archiveBase":{"type":"integer","description":"Default archive in GB associate to account type","format":"int32","example":3},"archiveMaxExtra":{"type":"integer","description":"Maximum extra archive in GB associated to account type","format":"int32","example":200}},"description":"Information about enabled account type"},"AccountTypesResponse":{"required":["version"],"type":"object","properties":{"data":{"type":"array","description":"Response data, it could be empty in case of errors","items":{"$ref":"#/components/schemas/AccountType"}},"version":{"type":"string","description":"Response version","example":"v2"},"errors":{"type":"array","description":"Error list, specified only with error response","items":{"$ref":"#/components/schemas/RestError"}}}}},"securitySchemes":{"KC":{"type":"oauth2","flows":{"clientCredentials":{"tokenUrl":"https://login.aruba.it/auth/realms/partner/protocol/openid-connect/token","scopes":{"openid":""}}}}}}}