{"openapi":"3.0.1","info":{"title":"pp-pec-service","description":"Microservice that exposes PEC service management ws<br>Before any request, it is necessary to obtain a token using the ws: <a href='https://publicapi-areaclienti.arubapec.it/service/public/swagger-ui/index.html?urls.primaryName=05-auth%20(v2)#/AuthController/token'>/auth/v2/token</a>","version":"v2/v3"},"servers":[{"url":"https://publicapi-areaclienti.arubapec.it/service","description":"Generated server url"}],"tags":[{"name":"PartnerPecAdditionalServiceApi","description":"API used to manage additional pec services that are not dependent on the account's lifespan (newsletter). To access these services, you must be a Partner with access to WS calls and the \"Accesso API PEC\" permission."}],"paths":{"/public/partner/pec/v2/additionalServices/{id}/renew":{"put":{"tags":["PartnerPecAdditionalServiceApi"],"summary":"Additional Service renewal","description":"Returns renewal additional Service details, by passing the id of additional service","operationId":"additionalServiceRenew","parameters":[{"name":"id","in":"path","description":"Id of the additional service to renew","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdditionalServiceRenewRequest"}}},"required":true},"responses":{"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdditionalServiceInfoResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}}}}},"/public/partner/pec/v2/additionalServices/{id}/changeRenewalType":{"put":{"tags":["PartnerPecAdditionalServiceApi"],"summary":"Change additional service renewal type account","description":"Changes renewal type of the id of additional service passing in the request","operationId":"additionalServiceChangeRenewalType","parameters":[{"name":"id","in":"path","description":"Id of the additional service to change the renewal type","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdditionalServiceChangeRenewalTypeRequest"}}},"required":true},"responses":{"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdditionalServiceInfoResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}}}}},"/public/partner/pec/v2/additionalServices/{id}/cancellation":{"put":{"tags":["PartnerPecAdditionalServiceApi"],"summary":"Additional services cancellation request","description":"Additional services cancellation request","operationId":"additionalServiceCancellation","parameters":[{"name":"id","in":"path","description":"Id of the additional service to cancel","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdditionalServiceCancellationRequest"}}},"required":true},"responses":{"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdditionalServiceInfoResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}}}}},"/public/partner/pec/v2/additionalServices/{id}/cancellation-undo":{"put":{"tags":["PartnerPecAdditionalServiceApi"],"summary":"Undo additional services cancellation request","description":"Undo additional services cancellation request, to be allowed the service must be in Richiesta Disdetta status","operationId":"additionalServiceCancellationUndo","parameters":[{"name":"id","in":"path","description":"Id of the service to undo cancelellation","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdditionalServiceCancellationUndoRequest"}}},"required":true},"responses":{"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdditionalServiceInfoResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}}}}},"/public/partner/pec/v2/additionalServices":{"post":{"tags":["PartnerPecAdditionalServiceApi"],"summary":"Create additional services","description":"Creates additional services.","operationId":"additionalServiceCreate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdditionalServiceCreateRequest"}}},"required":true},"responses":{"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdditionalServiceInfoResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}}}}},"/public/partner/pec/v2/additionalServices/{id}":{"get":{"tags":["PartnerPecAdditionalServiceApi"],"summary":"Additional Service details","description":"Returns details of the ID of additional Service passed in the request","operationId":"additionalServiceInfo","parameters":[{"name":"id","in":"path","description":"Id of the additional service","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdditionalServiceInfoResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}}}}}},"components":{"schemas":{"AdditionalServiceRenewRequest":{"required":["renewalData"],"type":"object","properties":{"renewalData":{"$ref":"#/components/schemas/RenewalData"},"contractData":{"$ref":"#/components/schemas/ContractData"}},"description":"Additional Service renewal"},"ContractData":{"type":"object","properties":{"sdiCode":{"type":"string","description":"sdicode, mandatory if the value is valued in partner registry","example":"XX2AD"},"cigOda":{"type":"string","description":"cig/oda code","example":"XX2AD"}},"description":""},"RenewalData":{"required":["duration","type"],"type":"object","properties":{"type":{"type":"string","description":"Renewal type, use value T for automatic renewal, use value S for renewal on expiration","example":"T","enum":["T,S"]},"duration":{"maximum":5,"minimum":1,"type":"integer","description":"Duration, if the value is greater than 5, the default value is 1","format":"int64","example":1}},"description":"Information about services renewal"},"RestError":{"type":"object","properties":{"code":{"type":"string","description":"Error code","example":"001"},"validationError":{"$ref":"#/components/schemas/ValidationError"},"description":{"type":"string"}},"description":"Error list, specified only with error response"},"RestErrorResponse":{"required":["version"],"type":"object","properties":{"data":{"type":"string","description":"Response data, it could be empty in case of errors"},"datetime":{"type":"string","description":"Response datetime","format":"date-time","example":"2023-09-19T09:35:10.415+02:00"},"version":{"type":"string","description":"Response version","example":"v2"},"errors":{"type":"array","description":"Error list, specified only with error response","items":{"$ref":"#/components/schemas/RestError"}}}},"ValidationError":{"type":"object","properties":{"objectName":{"type":"string"},"field":{"type":"string"},"code":{"type":"string"},"rejectedValue":{"type":"object"},"defaultMessage":{"type":"string"}},"description":"Validation error details","example":"Validation error details"},"AdditionalService":{"required":["id","renewalData","status","type"],"type":"object","properties":{"id":{"type":"integer","description":"Additional service ID","format":"int64"},"type":{"type":"string","description":"Identifies the additional service to buy, possible values: NEWSLETTER","example":"SOME_SERVICE","enum":["NEWSLETTER","MULTIUTENZA","CONSERVAZIONE","EXTRA_INBOX","EXTRA_ARCHIVIO","EXTRA_USERS","UPGRADE_COS","PEC_INT_APP","PEC_MAS","DOM_INT_APP_CAN"]},"status":{"type":"string","description":"Additional Service status","example":"ATTIVO"},"value":{"type":"string","description":"Value assigned to the additional service","example":"3"},"requestDate":{"type":"string","description":"Request date","format":"date-time"},"activationDate":{"type":"string","description":"Activation date","format":"date-time","example":"2023-09-07T12:09:36.475+02:00"},"cancellationDate":{"type":"string","description":"Cancellation date","format":"date-time","example":"2023-09-07T12:09:36.475+02:00"},"endDate":{"type":"string","description":"End date","format":"date-time"},"renewalData":{"$ref":"#/components/schemas/RenewalData"},"contractData":{"$ref":"#/components/schemas/ContractData"}},"description":"Account's Additional Service"},"AdditionalServiceInfoResponse":{"required":["version"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/AdditionalService"},"version":{"type":"string","description":"Response version","example":"v2"},"errors":{"type":"array","description":"Error list, specified only with error response","items":{"$ref":"#/components/schemas/RestError"}}}},"AdditionalServiceChangeRenewalTypeRequest":{"required":["type"],"type":"object","properties":{"type":{"type":"string","description":"Identifies additional service's change renewal typology; use value T for automatic renewal, use value S for renewal on expiration","example":"T","enum":["T,S"]}},"description":"Change renewal type additional services"},"AdditionalServiceCancellationRequest":{"type":"object","properties":{"type":{"type":"string","description":"Cancellation Type: use value S to cancel the additional service at the end date, use value I to cancel immediately the account, use value D to cancel the account at the date specified in CancellationDate parameter. Default value is S","example":"S","enum":["S,I,D"]},"cancellationDate":{"type":"string","description":"Cancellation date, this is the date when the additional service will be cancelled, mandatory only if parameter type=D","format":"date-time"}},"description":"Additional services cancellation request"},"AdditionalServiceCancellationUndoRequest":{"type":"object","description":"Additional services cancellation UNDO request"},"AdditionalServiceCreateRequest":{"required":["account","renewalData","type"],"type":"object","properties":{"account":{"type":"string","description":"Full name, composed by account name and domain name","example":"aruba@pec.aruba.it"},"type":{"type":"string","description":"Identifies the additional service to buy, possible values: NEWSLETTER","example":"NEWSLETTER","enum":["NEWSLETTER"]},"value":{"type":"string","description":"Value assigned to the additional service","example":"3"},"renewalData":{"$ref":"#/components/schemas/RenewalData"},"contractData":{"$ref":"#/components/schemas/ContractData"}},"description":"Create additional services"}},"securitySchemes":{"KC":{"type":"oauth2","flows":{"clientCredentials":{"tokenUrl":"https://login.aruba.it/auth/realms/partner/protocol/openid-connect/token","scopes":{"openid":""}}}}}}}