{"openapi":"3.0.1","info":{"title":"pp-pec-service","description":"Microservice that exposes PEC service management ws<br>Before any request, it is necessary to obtain a token using the ws: <a href='https://publicapi-areaclienti.arubapec.it/service/public/swagger-ui/index.html?urls.primaryName=05-auth%20(v2)#/AuthController/token'>/auth/v2/token</a>","version":"v2/v3"},"servers":[{"url":"https://publicapi-areaclienti.arubapec.it/service","description":"Generated server url"}],"tags":[{"name":"PartnerPecOwnerApi","description":"APIs used to manage pec owners; to access the services, you must be a Partner with access to WS calls and the \"Accesso API PEC\" permission."}],"paths":{"/public/partner/pec/v2/owners":{"post":{"tags":["PartnerPecOwnerApi"],"summary":"Create a new owner","description":"Creates a new owner","operationId":"ownerCreate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OwnerCreateRequest"}}},"required":true},"responses":{"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OwnerInfoResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}}}},"patch":{"tags":["PartnerPecOwnerApi"],"summary":"Update owner","description":"Updates only data passed in the request <br><ul><li>if userType= PRIVATO is possible update the fields name, surname only if owner has label \"Da bonificare\" or account recognition was not carried out; it's possibile update taxcode only if account recognition was not carried out; it's possible to update at the same time fields name and surname, but not name, surname with taxcode;It's not possible to update name or surname if owner recognition is in progress or completed.</li><li>if userType= LIBERO_PROFESSIONISTA is possible update the fields name, surname, vatnumber only if owner has label \"Da bonificare\" or account recognition was not carried out or owner has a storage additional service; it's possibile update taxcode only if account recognition was not carried out; it's possible to update at the same time fields name and surname, but not name, surname with taxcode. It's not possible to update name or surname if owner recognition is in progress or completed.</li><li>if userType= DITTA_INDIVIDUALE is possible update the fields name, surname and vatnumber only if owner has label \"Da bonificare\" or account recognition was not carried out or owner has a storage additional service; it's possibile update taxcode only if account recognition was not carried out; it's possible to update at the same time fields name and surname, but not name, surname with taxcode. It's not possible to update name or surname if owner recognition is in progress or completed.</li><li>if userType= AZIENDA is possible update the fields businesstaxcode and vatnumber only if owner has label \"Da bonificare\";</li><li>if userType= PUBBLICA_AMMINISTRAZIONE is possible update the fields businesstaxcode and vatnumber only if owner has label \"Da bonificare\" </li><li>if userType= NO_PROFIT is possible update the fields businesstaxcode and vatnumber only if owner has label \"Da bonificare\";</li></ul>","operationId":"ownerUpdate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OwnerUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OwnerInfoResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}}}}},"/public/partner/pec/v2/owners/search":{"post":{"tags":["PartnerPecOwnerApi"],"summary":"Search Owner","description":"Search for account owners","operationId":"ownerSearch","parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","content":{"*/*":{"schema":{"type":"integer","default":"0"}}}},{"name":"size","in":"query","description":"Number of records per page.","content":{"*/*":{"schema":{"type":"integer","default":"50"}}}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OwnerSearchRequest"}}},"required":true},"responses":{"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OwnerSearchResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}}}}},"/public/partner/pec/v2/owners/{id}":{"get":{"tags":["PartnerPecOwnerApi"],"summary":"Owner details","description":"Returns details of ID owner passed in the request","operationId":"ownerInfo","parameters":[{"name":"id","in":"path","description":"Owner's id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OwnerInfoResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}}}}}},"components":{"schemas":{"CompanyContactData":{"required":["address","district","email","telephoneNumber","town","zipCode"],"type":"object","properties":{"address":{"maxLength":255,"minLength":1,"type":"string","description":"Address","example":"via aruba, 13"},"town":{"maxLength":255,"minLength":1,"type":"string","description":"Town","example":"Arezzo"},"zipCode":{"maxLength":50,"minLength":1,"type":"string","description":"owner postal code, if country = 260 postal code must be a valid italian postal code","example":"52100"},"district":{"maxLength":255,"minLength":1,"type":"string","description":"owner town code, if country= 260 postal code must be a valid italian town code","example":"AR"},"country":{"type":"integer","description":"Country, if empty the default is 260 Italy","format":"int64","example":260},"email":{"maxLength":80,"minLength":5,"type":"string","description":"owner email","example":"info@aruba.it"},"telephoneNumber":{"maxLength":50,"minLength":1,"type":"string","description":"telephone number, composed by international prefix and number separated by .","example":"+39.000000000,+1.000000000"}},"description":"Owner's company contact data"},"ContactData":{"required":["address","district","email","telephoneNumber","town","zipCode"],"type":"object","properties":{"address":{"maxLength":255,"minLength":1,"type":"string","description":"Address","example":"via aruba, 13"},"town":{"maxLength":255,"minLength":1,"type":"string","description":"Town","example":"Arezzo"},"zipCode":{"maxLength":50,"minLength":1,"type":"string","description":"owner postal code, if country = 260 postal code must be a valid italian postal code","example":"52100"},"district":{"maxLength":255,"minLength":1,"type":"string","description":"owner town code, if country= 260 postal code must be a valid italian town code","example":"AR"},"country":{"type":"integer","description":"Country, if empty the default is 260 Italy","format":"int64","example":260},"email":{"maxLength":80,"minLength":5,"type":"string","description":"owner email","example":"info@aruba.it"},"telephoneNumber":{"maxLength":50,"minLength":1,"type":"string","description":"telephone number, composed by international prefix and number separated by .","example":"+39.000000000,+1.000000000"},"mobile":{"maxLength":50,"minLength":1,"type":"string","description":"Owner mobile","example":"3334445556"}},"description":"Owner's contact data"},"OwnerCreateRequest":{"required":["name","surname","taxCode","userType"],"type":"object","properties":{"userType":{"type":"string","description":"Owner legal status, possible values are AZIENDA, DITTA_INDIVIDUALE, PUBBLICA_AMMINISTRAZIONE, NO_PROFIT, LIBERO_PROFESSIONISTA, PRIVATO","example":"PRIVATO","enum":["AZIENDA,PRIVATO,LIBERO_PROFESSIONISTA,DITTA_INDIVIDUALE,NO_PROFIT,PUBBLICA_AMMINISTRAZIONE"]},"name":{"maxLength":80,"minLength":1,"type":"string","description":"owner name, if country = 260 it must be coherent with owner tax code","example":"Mario"},"surname":{"maxLength":80,"minLength":1,"type":"string","description":"owner surname, if country= 260 it must be coherent with owner tax code","example":"Rossi"},"taxCode":{"maxLength":32,"minLength":1,"type":"string","description":"owner tax code, if country= 260 it must be coherent with owner name and surname","example":"AAABBB00A00A000A"},"vatNumber":{"maxLength":25,"minLength":1,"type":"string","description":"Vat number, mandatory if parameter userType = AZIENDA, DITTA_INDIVIDUALE, LIBERO_PROFESSIONISTA. if country= 260 vat number must be valid","example":"01573850516"},"businessTaxCode":{"maxLength":32,"minLength":1,"type":"string","description":"Business tax code","example":"01573850516"},"businessName":{"maxLength":255,"minLength":1,"type":"string","description":"BusinessName, mandatory if parameter userType = AZIENDA, DITTA_INDIVIDUALE, PUBBLICA_AMMINISTRAZIONE, NO_PROFIT","example":"Aruba S.p.a."},"contacts":{"$ref":"#/components/schemas/ContactData"},"companyContacts":{"$ref":"#/components/schemas/CompanyContactData"}},"description":"Create Owner pec"},"Owner":{"required":["name","surname","taxCode","userType"],"type":"object","properties":{"userType":{"type":"string","description":"Owner legal status, possible values are AZIENDA, DITTA_INDIVIDUALE, PUBBLICA_AMMINISTRAZIONE, NO_PROFIT, LIBERO_PROFESSIONISTA, PRIVATO","example":"PRIVATO","enum":["AZIENDA,PRIVATO,LIBERO_PROFESSIONISTA,DITTA_INDIVIDUALE,NO_PROFIT,PUBBLICA_AMMINISTRAZIONE"]},"name":{"maxLength":80,"minLength":1,"type":"string","description":"owner name, if country = 260 it must be coherent with owner tax code","example":"Mario"},"surname":{"maxLength":80,"minLength":1,"type":"string","description":"owner surname, if country= 260 it must be coherent with owner tax code","example":"Rossi"},"taxCode":{"maxLength":32,"minLength":1,"type":"string","description":"owner tax code, if country= 260 it must be coherent with owner name and surname","example":"AAABBB00A00A000A"},"vatNumber":{"maxLength":25,"minLength":1,"type":"string","description":"Vat number, mandatory if parameter userType = AZIENDA, DITTA_INDIVIDUALE, LIBERO_PROFESSIONISTA. if country= 260 vat number must be valid","example":"01573850516"},"businessTaxCode":{"maxLength":32,"minLength":1,"type":"string","description":"Business tax code","example":"01573850516"},"businessName":{"maxLength":255,"minLength":1,"type":"string","description":"BusinessName, mandatory if parameter userType = AZIENDA, DITTA_INDIVIDUALE, PUBBLICA_AMMINISTRAZIONE, NO_PROFIT","example":"Aruba S.p.a."},"contacts":{"$ref":"#/components/schemas/ContactData"},"companyContacts":{"$ref":"#/components/schemas/CompanyContactData"},"id":{"type":"integer","description":"Owner ID","format":"int64","example":18329387}},"description":"Information about account's owner"},"OwnerInfoResponse":{"required":["version"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/Owner"},"version":{"type":"string","description":"Response version","example":"v2"},"errors":{"type":"array","description":"Error list, specified only with error response","items":{"$ref":"#/components/schemas/RestError"}}}},"RestError":{"type":"object","properties":{"code":{"type":"string","description":"Error code","example":"001"},"validationError":{"$ref":"#/components/schemas/ValidationError"},"description":{"type":"string"}},"description":"Error list, specified only with error response"},"ValidationError":{"type":"object","properties":{"objectName":{"type":"string"},"field":{"type":"string"},"code":{"type":"string"},"rejectedValue":{"type":"object"},"defaultMessage":{"type":"string"}},"description":"Validation error details","example":"Validation error details"},"RestErrorResponse":{"required":["version"],"type":"object","properties":{"data":{"type":"string","description":"Response data, it could be empty in case of errors"},"datetime":{"type":"string","description":"Response datetime","format":"date-time","example":"2023-09-19T09:35:10.415+02:00"},"version":{"type":"string","description":"Response version","example":"v2"},"errors":{"type":"array","description":"Error list, specified only with error response","items":{"$ref":"#/components/schemas/RestError"}}}},"OwnerSearchRequest":{"type":"object","properties":{"id":{"type":"integer","description":"Owner ID","format":"int64","example":18329387},"taxCode":{"maxLength":32,"minLength":1,"type":"string","description":"owner tax code, if country = 260 it must be a valid italian code, it's used that value to fetch owner only if usertype = DITTA_INDIVIDUALE, LIBERO_PROFESSIONISTA, PRIVATO","example":"AAABBB00A00A000A"},"businessTaxCode":{"maxLength":32,"minLength":1,"type":"string","description":"Business tax code, if country = 260 it must be a valid italian code, it's used that value to fetch owner only if usertype = AZIENDA, PUBBLICA_AMMINISTRAZIONE, NO_PROFIT","example":"01573850516"},"vatNumber":{"maxLength":25,"minLength":1,"type":"string","description":"Vat number, mandatory if parameter userType =  AZIENDA, DITTA_INDIVIDUALE, LIBERO_PROFESSIONISTA, if country= 260 vat number must be valid","example":"01573850516"},"surname":{"maxLength":80,"minLength":1,"type":"string","description":"Surname of the owner or legal representative","example":"Rossi"},"name":{"maxLength":80,"minLength":1,"type":"string","description":"Name of the owner or legal representative","example":"Rossi"},"businessName":{"maxLength":255,"minLength":1,"type":"string","description":"Business name of the entity: not 'PRIVATO'","example":"ArubaS.p.a."},"toCorrectOnly":{"type":"boolean","description":"if the field is true returns only owners with label \"Da bonificare\", otherwise all owner will be get back","example":true}},"description":"Search Owner pec"},"OwnerSearchResponse":{"required":["version"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/PageOwner"},"version":{"type":"string","description":"Response version","example":"v2"},"errors":{"type":"array","description":"Error list, specified only with error response","items":{"$ref":"#/components/schemas/RestError"}}}},"PageOwner":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/Owner"}},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}},"description":"Response data, it could be empty in case of errors"},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"unpaged":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"direction":{"type":"string"},"nullHandling":{"type":"string"},"ascending":{"type":"boolean"},"property":{"type":"string"},"ignoreCase":{"type":"boolean"}}},"ContactDataUpdate":{"type":"object","properties":{"address":{"maxLength":255,"minLength":1,"type":"string","description":"owner address","example":"via aruba, 13"},"town":{"maxLength":255,"minLength":1,"type":"string","description":"owner town","example":"Arezzo"},"zipCode":{"maxLength":50,"minLength":1,"type":"string","description":"owner postal code, if country = 260 postal code must be a valid italian postal code","example":"52100"},"district":{"maxLength":255,"minLength":1,"type":"string","description":"owner town code, if country= 260 postal code must be a valid italian town code","example":"AR"},"country":{"type":"integer","description":"owner country, if empty the default is 260 Italy","format":"int64","example":260},"email":{"maxLength":80,"minLength":5,"type":"string","description":"owner email","example":"info@aruba.it"},"telephoneNumber":{"maxLength":50,"minLength":1,"type":"string","description":"owner telephone, composed by international prefix and number separated by .","example":"+39.000000000, +1.000000000"},"mobile":{"maxLength":50,"minLength":1,"type":"string","description":"owner mobile","example":"3334445556"}},"description":"Update company's additional data"},"OwnerId":{"type":"object","properties":{"id":{"type":"integer","description":"Owner ID","format":"int64","example":18329387},"taxCode":{"maxLength":32,"minLength":1,"type":"string","description":"owner tax code, if country = 260 it must be a valid italian code, it's used that value to fetch owner only if usertype = DITTA_INDIVIDUALE, LIBERO_PROFESSIONISTA, PRIVATO","example":"AAABBB00A00A000A"},"businessTaxCode":{"maxLength":32,"minLength":1,"type":"string","description":"Business tax code, if country = 260 it must be a valid italian code, it's used that value to fetch owner only if usertype = AZIENDA, PUBBLICA_AMMINISTRAZIONE, NO_PROFIT","example":"01573850516"},"vatNumber":{"maxLength":25,"minLength":1,"type":"string","description":"Vat number, mandatory if parameter userType =  AZIENDA, DITTA_INDIVIDUALE, LIBERO_PROFESSIONISTA, if country= 260 vat number must be valid","example":"01573850516"}},"description":"Owner's identification data"},"OwnerUpdateRequest":{"required":["ownerId"],"type":"object","properties":{"ownerId":{"$ref":"#/components/schemas/OwnerId"},"newTaxCode":{"maxLength":32,"minLength":1,"type":"string","description":"Owner tax code, if country= 260 it must be coherent with owner name and surname","example":"AAABBB00A00A000A"},"newBusinessTaxCode":{"maxLength":32,"minLength":1,"type":"string","description":"Business tax code, if country = 260 it must be a valid italian code","example":"01573850516"},"newVatNumber":{"maxLength":25,"minLength":1,"type":"string","description":"Vat number, mandatory if parameter userType =  AZIENDA, DITTA_INDIVIDUALE, LIBERO_PROFESSIONISTA, if country= 260 vat number must be valid","example":"01573850516"},"businessName":{"maxLength":255,"minLength":1,"type":"string","description":"BusinessName, mandatory if parameter userType = AZIENDA, DITTA_INDIVIDUALE, PUBBLICA_AMMINISTRAZIONE, NO_PROFIT","example":"Aruba S.p.a."},"name":{"maxLength":80,"minLength":1,"type":"string","description":"owner name, if country = 260 it must be coherent with owner tax code","example":"Mario"},"surname":{"maxLength":80,"minLength":1,"type":"string","description":"owner surname, if country = 260 it must be coherent with owner tax code","example":"Rossi"},"contacts":{"$ref":"#/components/schemas/ContactDataUpdate"},"companyContacts":{"$ref":"#/components/schemas/ContactDataUpdate"}},"description":"Update Owner pec"}},"securitySchemes":{"KC":{"type":"oauth2","flows":{"clientCredentials":{"tokenUrl":"https://login.aruba.it/auth/realms/partner/protocol/openid-connect/token","scopes":{"openid":""}}}}}}}