{"openapi":"3.0.1","info":{"title":"pp-pec-service","description":"Microservice that exposes PEC service management ws<br>Before any request, it is necessary to obtain a token using the ws: <a href='https://publicapi-areaclienti.arubapec.it/service/public/swagger-ui/index.html?urls.primaryName=05-auth%20(v2)#/AuthController/token'>/auth/v2/token</a>","version":"v2/v3"},"servers":[{"url":"https://publicapi-areaclienti.arubapec.it/service","description":"Generated server url"}],"tags":[{"name":"PartnerDomainApi","description":"API to use to manage PEC domains; To access the services you must be a Partner with access to WS calls and 'PEC API Access' permission"}],"paths":{"/public/partner/pec/v2/domains":{"post":{"tags":["PartnerDomainApi"],"summary":"Request for domain certification","description":"Method for request for domain certification ","operationId":"domainCertify","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainCertifyRequest"}}},"required":true},"responses":{"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainDataResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}}}}},"/public/partner/pec/v2/domains/verify-certifiability":{"post":{"tags":["PartnerDomainApi"],"summary":"Check whether the requested domain can be certified or not","description":"Method for check whether the requested domain can be certified or not","operationId":"verifyDomainCertifiability","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainByNameRequest"}}},"required":true},"responses":{"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainBoolResponse"}}}}}}},"/public/partner/pec/v2/domains/search":{"post":{"tags":["PartnerDomainApi"],"summary":"Returns a list of domains that meet the required conditions","description":"Search for domains","operationId":"search","parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","content":{"*/*":{"schema":{"type":"integer","default":"0"}}}},{"name":"size","in":"query","description":"Number of records per page.","content":{"*/*":{"schema":{"type":"integer","default":"50"}}}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainSearchRequest"}}},"required":true},"responses":{"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainSearchResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}}}}},"/public/partner/pec/v2/domains/owner-change":{"post":{"tags":["PartnerDomainApi"],"summary":"Change the domain owner by associating it with the new owner","description":"Method for change the domain owner by associating it a new owner","operationId":"domainOwnerChange","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainOwnerChangeRequest"}}},"required":true},"responses":{"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainBoolResponse"}}}}}}},"/public/partner/pec/v2/domains/list-mailboxes":{"post":{"tags":["PartnerDomainApi"],"summary":"Returns the basic information of the PEC mailboxes associated with this domain","description":"Method for give back the basic information of the PEC mailboxes associated with this domain","operationId":"domainListMailboxes","parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","content":{"*/*":{"schema":{"type":"integer","default":"0"}}}},{"name":"size","in":"query","description":"Number of records per page.","content":{"*/*":{"schema":{"type":"integer","default":"50"}}}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainByNameRequest"}}},"required":true},"responses":{"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainMailboxesResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}}}}},"/public/partner/pec/v2/domains/info":{"post":{"tags":["PartnerDomainApi"],"summary":"Retrieve information associated with the domain","description":"Method for retrieve key information associated to the domain","operationId":"domainInfo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainInfoRequest"}}},"required":true},"responses":{"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainDataResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}}}}},"/public/partner/pec/v2/domains/certification-undo":{"post":{"tags":["PartnerDomainApi"],"summary":"Cancellation of certification request","description":"Method for cancellation of certification request","operationId":"domainCertificationUndo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainByNameRequest"}}},"required":true},"responses":{"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainBoolResponse"}}}}}}},"/public/partner/pec/v2/domains/cancellation":{"post":{"tags":["PartnerDomainApi"],"summary":"Domain Cancellation Request","description":"Method for domain Cancellation Request","operationId":"domainCancellation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainByNameRequest"}}},"required":true},"responses":{"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainBoolResponse"}}}}}}},"/public/partner/pec/v2/domains/cancellation-undo":{"post":{"tags":["PartnerDomainApi"],"summary":"Delete deletion request","description":"Delete deletion request","operationId":"domainCancellationUndo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainByNameRequest"}}},"required":true},"responses":{"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainBoolResponse"}}}}}}}},"components":{"schemas":{"DomainCertifyRequest":{"required":["fullName","ownerId","typology"],"type":"object","properties":{"fullName":{"type":"string","description":"Full domain name","example":"pec.aruba.it"},"typology":{"type":"string","description":"Domain typology","example":"DOMINIO_ARUBA"},"ownerId":{"type":"integer","description":"Owner id","format":"int64","example":12345},"cigOda":{"type":"string","description":"Purchase CIG/ODA number","example":"ODA-1234"},"sdiCode":{"type":"string","description":"SDICode of the applicant (necessary for public administration)","example":"XJ0007F"}},"description":"Requested data for certification request"},"RestError":{"type":"object","properties":{"code":{"type":"string","description":"Error code","example":"001"},"validationError":{"$ref":"#/components/schemas/ValidationError"},"description":{"type":"string"}},"description":"Error list, specified only with error response"},"RestErrorResponse":{"required":["version"],"type":"object","properties":{"data":{"type":"string","description":"Response data, it could be empty in case of errors"},"datetime":{"type":"string","description":"Response datetime","format":"date-time","example":"2023-09-19T09:35:10.415+02:00"},"version":{"type":"string","description":"Response version","example":"v2"},"errors":{"type":"array","description":"Error list, specified only with error response","items":{"$ref":"#/components/schemas/RestError"}}}},"ValidationError":{"type":"object","properties":{"objectName":{"type":"string"},"field":{"type":"string"},"code":{"type":"string"},"rejectedValue":{"type":"object"},"defaultMessage":{"type":"string"}},"description":"Validation error details","example":"Validation error details"},"AdditionalService":{"required":["id","renewalData","status","type"],"type":"object","properties":{"id":{"type":"integer","description":"Additional service ID","format":"int64"},"type":{"type":"string","description":"Identifies the additional service to buy, possible values: NEWSLETTER","example":"SOME_SERVICE","enum":["NEWSLETTER","MULTIUTENZA","CONSERVAZIONE","EXTRA_INBOX","EXTRA_ARCHIVIO","EXTRA_USERS","UPGRADE_COS","PEC_INT_APP","PEC_MAS","DOM_INT_APP_CAN"]},"status":{"type":"string","description":"Additional Service status","example":"ATTIVO"},"value":{"type":"string","description":"Value assigned to the additional service","example":"3"},"requestDate":{"type":"string","description":"Request date","format":"date-time"},"activationDate":{"type":"string","description":"Activation date","format":"date-time","example":"2023-09-07T12:09:36.475+02:00"},"cancellationDate":{"type":"string","description":"Cancellation date","format":"date-time","example":"2023-09-07T12:09:36.475+02:00"},"endDate":{"type":"string","description":"End date","format":"date-time"},"renewalData":{"$ref":"#/components/schemas/RenewalData"},"contractData":{"$ref":"#/components/schemas/ContractData"}},"description":"Account's Additional Service"},"CompanyContactData":{"required":["address","district","email","telephoneNumber","town","zipCode"],"type":"object","properties":{"address":{"maxLength":255,"minLength":1,"type":"string","description":"Address","example":"via aruba, 13"},"town":{"maxLength":255,"minLength":1,"type":"string","description":"Town","example":"Arezzo"},"zipCode":{"maxLength":50,"minLength":1,"type":"string","description":"owner postal code, if country = 260 postal code must be a valid italian postal code","example":"52100"},"district":{"maxLength":255,"minLength":1,"type":"string","description":"owner town code, if country= 260 postal code must be a valid italian town code","example":"AR"},"country":{"type":"integer","description":"Country, if empty the default is 260 Italy","format":"int64","example":260},"email":{"maxLength":80,"minLength":5,"type":"string","description":"owner email","example":"info@aruba.it"},"telephoneNumber":{"maxLength":50,"minLength":1,"type":"string","description":"telephone number, composed by international prefix and number separated by .","example":"+39.000000000,+1.000000000"}},"description":"Owner's company contact data"},"ContactData":{"required":["address","district","email","telephoneNumber","town","zipCode"],"type":"object","properties":{"address":{"maxLength":255,"minLength":1,"type":"string","description":"Address","example":"via aruba, 13"},"town":{"maxLength":255,"minLength":1,"type":"string","description":"Town","example":"Arezzo"},"zipCode":{"maxLength":50,"minLength":1,"type":"string","description":"owner postal code, if country = 260 postal code must be a valid italian postal code","example":"52100"},"district":{"maxLength":255,"minLength":1,"type":"string","description":"owner town code, if country= 260 postal code must be a valid italian town code","example":"AR"},"country":{"type":"integer","description":"Country, if empty the default is 260 Italy","format":"int64","example":260},"email":{"maxLength":80,"minLength":5,"type":"string","description":"owner email","example":"info@aruba.it"},"telephoneNumber":{"maxLength":50,"minLength":1,"type":"string","description":"telephone number, composed by international prefix and number separated by .","example":"+39.000000000,+1.000000000"},"mobile":{"maxLength":50,"minLength":1,"type":"string","description":"Owner mobile","example":"3334445556"}},"description":"Owner's contact data"},"ContractData":{"type":"object","properties":{"sdiCode":{"type":"string","description":"sdicode, mandatory if the value is valued in partner registry","example":"XX2AD"},"cigOda":{"type":"string","description":"cig/oda code","example":"XX2AD"}},"description":""},"Domain":{"required":["certificationDate","endDate","fullName","owner","requestDate","status","typology"],"type":"object","properties":{"fullName":{"type":"string","description":"Full name","example":"pec.aruba.it"},"typology":{"type":"string","description":"Domain type","example":"DOMINIO_ARUBA"},"status":{"type":"string","description":"Domain status","example":"CERTIFICATO"},"requestDate":{"type":"string","description":"Request date","format":"date-time","example":"2023-09-07T12:09:36.475+02:00"},"certificationDate":{"type":"string","description":"Certification date","format":"date-time"},"cancellationDate":{"type":"string","description":"Cancellation Date","format":"date-time"},"endDate":{"type":"string","description":"End date","format":"date-time"},"owner":{"$ref":"#/components/schemas/Owner"},"contractData":{"$ref":"#/components/schemas/ContractData"},"additionalServices":{"type":"array","description":"Additional services associated to the requested domain. (returned when loadExtraData=true)","items":{"$ref":"#/components/schemas/AdditionalService"}}},"description":"PEC Domain detail"},"DomainDataResponse":{"required":["version"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/Domain"},"version":{"type":"string","description":"Response version","example":"v2"},"errors":{"type":"array","description":"Error list, specified only with error response","items":{"$ref":"#/components/schemas/RestError"}}}},"Owner":{"required":["name","surname","taxCode","userType"],"type":"object","properties":{"userType":{"type":"string","description":"Owner legal status, possible values are AZIENDA, DITTA_INDIVIDUALE, PUBBLICA_AMMINISTRAZIONE, NO_PROFIT, LIBERO_PROFESSIONISTA, PRIVATO","example":"PRIVATO","enum":["AZIENDA,PRIVATO,LIBERO_PROFESSIONISTA,DITTA_INDIVIDUALE,NO_PROFIT,PUBBLICA_AMMINISTRAZIONE"]},"name":{"maxLength":80,"minLength":1,"type":"string","description":"owner name, if country = 260 it must be coherent with owner tax code","example":"Mario"},"surname":{"maxLength":80,"minLength":1,"type":"string","description":"owner surname, if country= 260 it must be coherent with owner tax code","example":"Rossi"},"taxCode":{"maxLength":32,"minLength":1,"type":"string","description":"owner tax code, if country= 260 it must be coherent with owner name and surname","example":"AAABBB00A00A000A"},"vatNumber":{"maxLength":25,"minLength":1,"type":"string","description":"Vat number, mandatory if parameter userType = AZIENDA, DITTA_INDIVIDUALE, LIBERO_PROFESSIONISTA. if country= 260 vat number must be valid","example":"01573850516"},"businessTaxCode":{"maxLength":32,"minLength":1,"type":"string","description":"Business tax code","example":"01573850516"},"businessName":{"maxLength":255,"minLength":1,"type":"string","description":"BusinessName, mandatory if parameter userType = AZIENDA, DITTA_INDIVIDUALE, PUBBLICA_AMMINISTRAZIONE, NO_PROFIT","example":"Aruba S.p.a."},"contacts":{"$ref":"#/components/schemas/ContactData"},"companyContacts":{"$ref":"#/components/schemas/CompanyContactData"},"id":{"type":"integer","description":"Owner ID","format":"int64","example":18329387}},"description":"Information about account's owner"},"RenewalData":{"required":["duration","type"],"type":"object","properties":{"type":{"type":"string","description":"Renewal type, use value T for automatic renewal, use value S for renewal on expiration","example":"T","enum":["T,S"]},"duration":{"maximum":5,"minimum":1,"type":"integer","description":"Duration, if the value is greater than 5, the default value is 1","format":"int64","example":1}},"description":"Information about services renewal"},"DomainByNameRequest":{"required":["fullName"],"type":"object","properties":{"fullName":{"type":"string","description":"Full domain name","example":"pec.aruba.it"}},"description":"Full domain name"},"DomainBoolResponse":{"required":["version"],"type":"object","properties":{"data":{"type":"boolean","description":"Response data, it could be empty in case of errors"},"version":{"type":"string","description":"Response version","example":"v2"},"errors":{"type":"array","description":"Error list, specified only with error response","items":{"$ref":"#/components/schemas/RestError"}}}},"DomainSearchRequest":{"type":"object","properties":{"owner":{"$ref":"#/components/schemas/OwnerSearchRequest"},"activationDate":{"$ref":"#/components/schemas/Interval"},"type":{"type":"string","description":"Domain type ","example":"ARUBA","enum":["DOMINIO_ARUBA","DOMINIO_ESTERNO"]},"status":{"type":"string","description":"Domain status","example":"CERTIFICATO"}},"description":"Search Domain"},"Interval":{"type":"object","properties":{"from":{"type":"string","description":"Start search interval; value is INCLUDED in the search interval (greater than or equal to 00:00:00)","format":"date-time"},"to":{"type":"string","description":"End of search interval; the value is INCLUDED in the search interval (less than or equal to 23:59:59)","format":"date-time"}},"description":"Search Date interval"},"OwnerSearchRequest":{"type":"object","properties":{"id":{"type":"integer","description":"Owner ID","format":"int64","example":18329387},"taxCode":{"maxLength":32,"minLength":1,"type":"string","description":"owner tax code, if country = 260 it must be a valid italian code, it's used that value to fetch owner only if usertype = DITTA_INDIVIDUALE, LIBERO_PROFESSIONISTA, PRIVATO","example":"AAABBB00A00A000A"},"businessTaxCode":{"maxLength":32,"minLength":1,"type":"string","description":"Business tax code, if country = 260 it must be a valid italian code, it's used that value to fetch owner only if usertype = AZIENDA, PUBBLICA_AMMINISTRAZIONE, NO_PROFIT","example":"01573850516"},"vatNumber":{"maxLength":25,"minLength":1,"type":"string","description":"Vat number, mandatory if parameter userType =  AZIENDA, DITTA_INDIVIDUALE, LIBERO_PROFESSIONISTA, if country= 260 vat number must be valid","example":"01573850516"},"surname":{"maxLength":80,"minLength":1,"type":"string","description":"Surname of the owner or legal representative","example":"Rossi"},"name":{"maxLength":80,"minLength":1,"type":"string","description":"Name of the owner or legal representative","example":"Rossi"},"businessName":{"maxLength":255,"minLength":1,"type":"string","description":"Business name of the entity: not 'PRIVATO'","example":"ArubaS.p.a."},"toCorrectOnly":{"type":"boolean","description":"if the field is true returns only owners with label \"Da bonificare\", otherwise all owner will be get back","example":true}},"description":"Search Owner pec"},"DomainSearchResponse":{"required":["version"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/PageDomain"},"version":{"type":"string","description":"Response version","example":"v2"},"errors":{"type":"array","description":"Error list, specified only with error response","items":{"$ref":"#/components/schemas/RestError"}}}},"PageDomain":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/Domain"}},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}},"description":"Response data, it could be empty in case of errors"},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"unpaged":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"direction":{"type":"string"},"nullHandling":{"type":"string"},"ascending":{"type":"boolean"},"property":{"type":"string"},"ignoreCase":{"type":"boolean"}}},"DomainOwnerChangeRequest":{"required":["newOwnerId"],"type":"object","properties":{"domainId":{"type":"integer","description":"Domain id (if set do not set 'fullName')","format":"int64","example":1234},"fullName":{"type":"string","description":"Full domain name (if set do not set 'domainId')","example":"pec.aruba.it"},"newOwnerId":{"type":"integer","description":"new owner's id","format":"int64","example":98765}},"description":"Request for domain owner change"},"Account":{"required":["certificationDate","endDate","name","owner","quotas","renewalData","requestDate","status","type"],"type":"object","properties":{"name":{"type":"string","description":"Account full name, composed by account name and domain name","example":"pec@pec.aruba.it"},"type":{"type":"string","description":"Account typology","example":"EMAIL"},"status":{"type":"string","description":"Account Status","example":"CERTIFICATO"},"quotas":{"type":"array","description":"Details about account","items":{"$ref":"#/components/schemas/InfoQuota"}},"owner":{"$ref":"#/components/schemas/Owner"},"requestDate":{"type":"string","description":"Request date","format":"date-time","example":"2023-09-07T12:09:36.475+02:00"},"certificationDate":{"type":"string","description":"Creation Date","format":"date-time"},"cancellationDate":{"type":"string","description":"Cancellation Date","format":"date-time"},"suspensionDate":{"type":"string","description":"Suspension date","format":"date-time"},"endDate":{"type":"string","description":"End date","format":"date-time"},"renewalData":{"$ref":"#/components/schemas/RenewalData"},"contractData":{"$ref":"#/components/schemas/ContractData"},"additionalServices":{"type":"array","description":"Additional services account list; the list of the additional services is valued only if parameter loadExtraData=true; this parameter is set in accounts/info api","items":{"$ref":"#/components/schemas/AdditionalService"}}},"description":"Account pec detail"},"DomainMailboxesResponse":{"required":["version"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/PageAccount"},"version":{"type":"string","description":"Response version","example":"v2"},"errors":{"type":"array","description":"Error list, specified only with error response","items":{"$ref":"#/components/schemas/RestError"}}}},"InfoQuota":{"required":["base","type"],"type":"object","properties":{"type":{"type":"string","description":"Identifies account quota, possible values are inbox or archive","example":"INBOX","enum":["INBOX","ARCHIVIO","CONSERVAZIONE","EXTRA_USERS"]},"base":{"type":"integer","description":"Default inbox in GB associated to account typology","format":"int32","example":2},"extra":{"type":"integer","description":"Extra inbox in GB purchased","format":"int32","example":3},"massive":{"type":"integer","description":"Extra inbox in GB from Massive Pec","format":"int32","example":15},"used":{"type":"integer","description":"Identifies quota used in GB, value not empty only if loadExtraData=true","format":"int64","example":3},"available":{"type":"integer","description":"Total quantity available: populated only with loadExtraData=true","format":"int64","example":47},"description":{"type":"string","description":"Human readable"}},"description":"Information about account quota"},"PageAccount":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/Account"}},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}},"description":"Response data, it could be empty in case of errors"},"DomainInfoRequest":{"type":"object","properties":{"id":{"type":"integer","description":"Domain Id (if set do not set 'fullName')","format":"int64","example":12345},"fullName":{"type":"string","description":"Full domain name (if set do not set 'id')","example":"pec.aruba.it"},"loadExtraData":{"type":"boolean","description":"Load domain's extra data","example":false}},"description":"Request to get information about the domain"}},"securitySchemes":{"KC":{"type":"oauth2","flows":{"clientCredentials":{"tokenUrl":"https://login.aruba.it/auth/realms/partner/protocol/openid-connect/token","scopes":{"openid":""}}}}}}}