{"openapi":"3.0.1","info":{"title":"pp-pec-service","description":"Microservice that exposes PEC service management ws<br>Before any request, it is necessary to obtain a token using the ws: <a href='https://publicapi-areaclienti.arubapec.it/service/public/swagger-ui/index.html?urls.primaryName=05-auth%20(v2)#/AuthController/token'>/auth/v2/token</a>","version":"v2/v3"},"servers":[{"url":"https://publicapi-areaclienti.arubapec.it/service","description":"Generated server url"}],"tags":[{"name":"AuthController","description":"Public endpoint to request the issuance of a JWT token"}],"paths":{"/public/auth/v2/token":{"post":{"tags":["AuthController"],"summary":"Obtain new Token","description":"","operationId":"token","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenRequest"}}},"required":true},"responses":{"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}}}}},"/public/auth/v2/refresh":{"post":{"tags":["AuthController"],"summary":"Obtain new Token via refresh-token","description":"","operationId":"refresh","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshRequest"}}},"required":true},"responses":{"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}},"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}}}}}},"components":{"schemas":{"TokenRequest":{"required":["password","username"],"type":"object","properties":{"username":{"type":"string","description":"User for which the token is requested"},"password":{"type":"string","description":"Password associated with the username"}},"description":"Data for token request"},"RestError":{"type":"object","properties":{"code":{"type":"string","description":"Error code","example":"001"},"validationError":{"$ref":"#/components/schemas/ValidationError"},"description":{"type":"string"}},"description":"Error list, specified only with error response"},"TokenModel":{"required":["accessToken","expiresIn","refreshExpiresIn","refreshToken","tokenType"],"type":"object","properties":{"accessToken":{"type":"string","description":"Token to be used as Bearer","example":"JWT Token"},"expiresIn":{"type":"integer","description":"Validity seconds of the authorization token","format":"int64","example":300},"refreshToken":{"type":"string","description":"Refresh token to update the authorization token","example":"JWT Token"},"refreshExpiresIn":{"type":"integer","description":"Refresh token validity seconds","format":"int64","example":43200},"tokenType":{"type":"string","description":"Authorization token type","example":"Bearer"}},"description":"Response data, it could be empty in case of errors"},"TokenResponse":{"required":["version"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/TokenModel"},"datetime":{"type":"string","description":"Response datetime","format":"date-time","example":"2023-09-19T09:35:10.415+02:00"},"version":{"type":"string","description":"Response version","example":"v2"},"errors":{"type":"array","description":"Error list, specified only with error response","items":{"$ref":"#/components/schemas/RestError"}}}},"ValidationError":{"type":"object","properties":{"objectName":{"type":"string"},"field":{"type":"string"},"code":{"type":"string"},"rejectedValue":{"type":"object"},"defaultMessage":{"type":"string"}},"description":"Validation error details","example":"Validation error details"},"RestErrorResponse":{"required":["version"],"type":"object","properties":{"data":{"type":"string","description":"Response data, it could be empty in case of errors"},"datetime":{"type":"string","description":"Response datetime","format":"date-time","example":"2023-09-19T09:35:10.415+02:00"},"version":{"type":"string","description":"Response version","example":"v2"},"errors":{"type":"array","description":"Error list, specified only with error response","items":{"$ref":"#/components/schemas/RestError"}}}},"RefreshRequest":{"required":["refreshToken"],"type":"object","properties":{"refreshToken":{"type":"string"}},"description":"Data for token request"}},"securitySchemes":{"KC":{"type":"oauth2","flows":{"clientCredentials":{"tokenUrl":"https://login.aruba.it/auth/realms/partner/protocol/openid-connect/token","scopes":{"openid":""}}}}}}}