{"openapi":"3.0.1","info":{"title":"pp-pec-service","description":"Microservice that exposes PEC service management ws<br>Before any request, it is necessary to obtain a token using the ws: <a href='https://publicapi-areaclienti.arubapec.it/service/public/swagger-ui/index.html?urls.primaryName=05-auth%20(v2)#/AuthController/token'>/auth/v2/token</a>","version":"v2/v3"},"servers":[{"url":"https://publicapi-areaclienti.arubapec.it/service","description":"Generated server url"}],"tags":[{"name":"PartnerSearchCountryApiController","description":"APIs to be used to manage countries; To access the services, you must be a Partner with access to WS calls and the 'Accesso API PEC' permission."}],"paths":{"/public/partner/v2/countries":{"get":{"tags":["PartnerSearchCountryApiController"],"summary":"List of countries","description":"Returns the lists all countries","operationId":"countries","responses":{"400":{"description":"Invalid request data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"401":{"description":"Unauthorized access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"500":{"description":"Unhandled error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"403":{"description":"Function not allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestErrorResponse"}}}},"200":{"description":"Successfully request!","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountriesResponse"}}}}}}}},"components":{"schemas":{"RestError":{"type":"object","properties":{"code":{"type":"string","description":"Error code","example":"001"},"validationError":{"$ref":"#/components/schemas/ValidationError"},"description":{"type":"string"}},"description":"Error list, specified only with error response"},"RestErrorResponse":{"required":["version"],"type":"object","properties":{"data":{"type":"string","description":"Response data, it could be empty in case of errors"},"datetime":{"type":"string","description":"Response datetime","format":"date-time","example":"2023-09-19T09:35:10.415+02:00"},"version":{"type":"string","description":"Response version","example":"v2"},"errors":{"type":"array","description":"Error list, specified only with error response","items":{"$ref":"#/components/schemas/RestError"}}}},"ValidationError":{"type":"object","properties":{"objectName":{"type":"string"},"field":{"type":"string"},"code":{"type":"string"},"rejectedValue":{"type":"object"},"defaultMessage":{"type":"string"}},"description":"Validation error details","example":"Validation error details"},"CountriesResponse":{"required":["version"],"type":"object","properties":{"data":{"type":"array","description":"Response data, it could be empty in case of errors","items":{"$ref":"#/components/schemas/Country"}},"version":{"type":"string","description":"Response version","example":"v2"},"errors":{"type":"array","description":"Error list, specified only with error response","items":{"$ref":"#/components/schemas/RestError"}}}},"Country":{"required":["id","name"],"type":"object","properties":{"id":{"type":"integer","description":"Country ID","format":"int64","example":260},"name":{"type":"string","description":"Country name","example":"Italia"}},"description":"Information about country"}},"securitySchemes":{"KC":{"type":"oauth2","flows":{"clientCredentials":{"tokenUrl":"https://login.aruba.it/auth/realms/partner/protocol/openid-connect/token","scopes":{"openid":""}}}}}}}